#main2 {
    position: relative;
    padding-top: 170px;
 }

 #block2-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
 }

 .block2 {
    width: 280px;
    height: 270px;
    background-color: rgb(203, 195, 195);
    margin: 30px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 8px solid;
    border-image: linear-gradient(#c850c0, #4158d0);
    border-image-slice: 1;
    border-radius: 5px;
    box-shadow: rgba(4, 4, 22, 0.3) 10px 25px 30px;
 }

 .block2 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .block2:hover {
    transform: scale(1.1);
    cursor: pointer;
 }
 
 .block2 h1 {
   padding-top: 110px;
   position: fixed;
   text-shadow: 6px 6px 12px rgba(0,0,0,0.4);
   color: rgb(249, 249, 249);
   border: 10px;
 }

#genretitle{
   padding-top: 20px;
   text-align: center;
   font-size: 40px;
   color: rgb(255, 255, 255); 
}

body{
background-color: black;
}

#genre-image{
   object-fit:fill;
}

#backgroundImage{
   background-image: url("../resources/backgroundImages/galaxy3.jpg");
   filter: blur(0px);  
   width:100%;
   height:100%;
   position: fixed;
   background-repeat: repeat-x;

   margin: 0;
   display:block;
   background-size: cover;
   margin-top: -850px;
   z-index:-10;
}
 