*{
   font-family:'Arial';
   color:rgb(0, 0, 0);
   margin:0;
 
 }
 body {
   background-image: url();
   background-repeat: no-repeat;
   background-size: cover;   
 }
 
 .header{
   background-color:rgb(38, 15, 78);
   display: flex;
   width: 100%;
   height: 120px;
   position: fixed;
   z-index: 50;
   float: left;
 }

 #title{
   color: rgb(255, 255, 255);
   font-size: 50px;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
   margin-top: 22px;
   margin-left: 15px;
 }
 .header-buttons{
   color: rgb(0, 0, 0);
   background-color:rgb(255, 255, 255);
   width: 100px;
   height: 45px;
   font-size: 20px;
   margin-top: 8px;
   margin-left: 30px;
   padding: 0px;
   text-align: center;
   text-decoration: none;
   border-radius: 5px;
   border: solid 2px rgb(0, 0, 0);
   /* text-shadow: 2px 2px 3px rgba(0,0,0,0.4); */
   font-weight: bold;
 }

 /* .header-signup-buttons{
   color: rgb(0, 0, 0);
   background-color:rgb(255, 142, 215);
   width: 70px;
   height: 20px;
   margin-left: 70px;
   padding: 5px;
   text-decoration: none;
   border-radius: 5px;
   border: solid 2px black;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
   font-weight: bold;
 } */

 #GameSpaceLogo {
   width: 80px;
   height: 80px;
   margin-top: 10px;
   margin-left: 20px;
 }

 #container-buttons {
   width: 100%;
   height: 100;
   display: flex;
   flex-wrap:wrap;
   justify-content: left ;
   align-items: center;
   margin-top: 0px;
 }
 
 #searchbar{
   width: 200px;
   height: 5px;
   display: block;
   text-align: center;
   padding: 20px;
   font-size: 18px;
   text-decoration: none;
   margin-top: 32px;
   margin-right: 20px;
 }
 