#loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    position: relative; 
 }
 
 #loginContainer form{
    width: 500px;
    background-color:rgb(129, 110, 213);
    border-radius: 5px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    border: 2px solid black;
 }
 
 #loginContainer input{
    height: 30px;
    float: left;
 }
 
 #loginContainer h1{
    text-align: center;
    width: 100%;
 }
 
 #loginContainer .textbox{
    width: 40%;
    margin: 10px;
 }
 
 #loginContainer #submitButton{
    margin-bottom: 10px;
 
 }