
#profile-outer-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img{
  width: 20%;
  border-radius: 10px;
  box-shadow: rgba(4, 4, 22, 0.3) 5px 20px 20px;
  margin-left: 30px;
}

.profile-container{
  width: 50%;
  height: 500px;
  margin-top: 195px;
  background-color: rgb(198, 130, 191);
  float: Left;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left:20px;
  
  
  text-align: left;
  justify-content: left;
  font-size: 20px;
  align-items: left;
  border: 8px solid;
  border-image: linear-gradient(#c850c0, #4158d0);
  border-image-slice: 1;
  border-radius: 5px;
  box-shadow: rgba(4, 4, 22, 0.3) 10px 25px 30px;
}

#follow{
  display: flex;
  justify-content: center;
}

#follow p{
  margin: 10px;
  
}

span{
 font-weight: bold;
 text-shadow: black 40px;
 color: rgb(109, 35, 124);
 font-family:monospace; 
}

#text1{
  font-weight: bold;
  text-shadow: black 40px;
  color: rgb(0, 0, 0); 
}

.profile-container h1{
  margin-top: 0;

  text-align: center;
  color: rgb(251, 232, 255);
  text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.profile-container p{
  font-family: monospace;
  margin-top:10px;
  padding-top: 5px;
  text-align: left;
}


.review-sort-container{
  width: 50%;
  height: 500px;
  margin-top: 195px;
}

#review-container{

}

