#box-container2 { 
   display: block;
   position:relative;
   padding-top: 190px;
   margin-left: 500px;
   margin-right: 500px;   
 }
 
 #first-box2{
   width: 100%;
   height: 150px;   
   background-color: rgb(145, 91, 199); 
   box-sizing: border-box;
   border: solid rgb(0, 0, 0) 2px;
   transition: 0.2s ease-in-out;
   display:flex;
   font-size: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 #first-box2:hover{
   background-color:rgb(193, 152, 234);
   cursor: pointer;   
}

.boxText2{
   color: white;
  
}

#information-box{
   width: 200%;
}

#information-box h1{
   font-size: 30px;
   margin-left: 10px;
}

#information-box p{
   font-size: 18px;
   margin-left: 10px;
}

#search-rating-box{
   width: 50%;
   align-items: center;
   display: flex;
   justify-content: center;
}

#search-rating-box p{
   font-size: 25px;
   text-align: right;
}

#search-image-container{
   width: 32%;
}

#search-image-container img{
   width: 100%;
   height: 100%;
   object-fit:contain;
   background-color: rgb(0, 0, 0);
}

.divider{
   height: auto;
   width: 4px;
   background-color: rgb(0, 0, 0);
   display: inline-block;
}

#backgroundImage{
   background-image: url("../resources/backgroundImages/space-background.jpg");
   filter: blur(0px);  
   width:100%;
   height:100%;
   position: fixed;
   background-repeat: no-repeat;
   margin: 0;
   display:block;
   background-size: cover;
   margin-top: -850px;
   z-index:-10;
}