#signupContainer{
    padding-top: 220px;
    margin-left: 420px;
    width: 600px;
    height: 200px;
 }

 #signupContainer form{
    width: 70px;
    background-color:rgb(170, 176, 211);
    border-radius: 5px ;
    justify-content: center;
    border: 5px solid black;
 }
    
 #signupContainer input{
    height: 30px;
    float: left;
 }
    
 #signupContainer h1{
    text-align: center;
    width: 100%;
 }

 #submitButton{
    margin-bottom: 10px;
 }
 
 #submitButtonContainer{
    width: 100%;
    display: flex;
    justify-content:center ;
 }

 #navLoginPageButton{
   margin-bottom: 10px;
   margin-left: 30px;
}

#navLoginPageButtonContainer{
   width: 100%;
   display: flex;
   justify-content:center ;
}
